<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
            @ViewBag.controllerName
            <span>
                >
                @ViewBag.actionName
            </span>
        </h1>
    </div>
</div>